/* Constantly referenced styles */
:root {
    --dark-color: rgb(11, 13, 23);
    --dark-color-opac10: rgba(11, 13, 23, 0.027);
    --light-purple: rgb(208, 214, 249);
    --white-color: rgb(255, 255, 255);
    --white-color-opac50: rgba(255, 255, 255, 0.5);
  }
  
  /* General Styles */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: var(--white-color);
  }
  /* Utility */
  
  .no-marg-pad {
    margin: 0;
    padding: 0;
  }
  
  /* Base Styles */
  h1,
  h2,
  h3,
  h4,
  .subh1 {
    font-family: "Bellefair", serif;
  }
  
  h1 {
    font-size: 150px;
    font-style: normal;
    font-weight: normal;
    line-height: 172px;
  }
  
  h2 {
    font-size: 100px;
    font-style: normal;
    font-weight: normal;
    line-height: 115px;
  }
  
  h3 {
    font-size: 56px;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
    text-transform: uppercase;
  }
  
  h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    text-transform: uppercase;
  }
  
  h5 {
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    letter-spacing: 4.725px;
  }
  
  h5,
  .subh2,
  .navText,
  .navBold {
    font-family: "Barlow Condensed", sans-serif;
  }
  
  .subh1 {
    font-size: 28px;
  
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    text-transform: uppercase;
  }
  
  .subh2 {
    font-size: 14px;
  
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
  }
  
  .navText {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  
  .navBold {
    font-weight: bold;
  }
  
  p {
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
  }
  